<%- include('partials/_header') -%>


<div class="jumbotron">
    <h1 class="display-4"><%= entry.header %></h1>
    <p class="lead"> <%= entry.description %> </p>
    <hr class="my-4">
    <a href="/entry/delete">Delete Entry</a>
</div>



<%- include('partials/_footer') -%>