<%- include('partials/_header') -%>


<div class="jumbotron">
    <h1 class="display-4"><%= entry.header %></h1>
    <p class="lead"> <%= entry.description %> </p>
    <hr class="my-4">
    <button type="submit" class="btn btn-primary btn-lg" href="#" role="button">Delete Entry</button>
  </div>



<%- include('partials/_footer') -%>